* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 251, 218);
}

.container {
    display: grid;
    width: 700px; 
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form input {
    display: flex;
    width: 235px;
    height: 25px;
}

button {
    background-color: green;
    color: #fff;
    border: none;
    padding: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

.Concluido {
    text-decoration: line-through;
}

li {
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 2px solid black;
    font-size: 20px;
    color: #093c83;
}