* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    width: 700px; 
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
}

h1 {
    text-align: center;
}

form input {
    display: flex;
}

.Concluido {
    text-decoration: line-through;
}